body {
	overflow-x: hidden;
}
.construction-container {
	text-align: center;
	background: #41c3ac;
	height: 500px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.construction .visible-xs {
	font-size: 2.5em;
}

.construction-container h1 {
	font-size: 4em;
}

#subscribeEvents {
	font-family: 'proxima_nova_rgbold';
	color: #FFCCBC;
}

#subscribeEvents:hover {
	color: #FFE0B2;
}

#subscribeEvents:visited {
	text-decoration: none;
}

#footer {
	width: 100vw;
}