body {
	margin: 0 auto;
	overflow-x: hidden;
}

.page-wrapper {
	background: #41c3ac;
}

.intro-container {
	font-size: 1.3em;
	padding-bottom: 1.5%;
	margin: 0 auto;
}

.meet {
	margin-left: 0.5%;
	color: #FFCCBC;
}

.benefits {
	line-height: 2.5em;
}

.sponsorUs a {
	color: #FFCCBC;
}

.sponsorUs a:hover {
	color: #EB974E;
}

img {
	margin: 1% 2% 2% 2%;
}

.intro-container ul {
}


/*------------------------------------------------------*/
.pastSponsor {
	background: #ff9966;
	text-align: center;
	padding-bottom: 2.5%;
}


